<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/081a4049-f535-4121-b729-2d2f53f1bb18/resourceGroups/Fido2/providers/Microsoft.Web/sites/Fido2</ResourceId>
    <ResourceGroup>Fido2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://fido2-d6gxdeh9d4ghahh4.eastus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>728ec854-20ba-4dcb-82d0-60977e6182f7</ProjectGuid>
    <PublishUrl>https://fido2-d6gxdeh9d4ghahh4.scm.eastus2-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>