<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuthAppOrigin" value="https://localhost:44326" />
    <add key="AuthLoginPath" value="/Areas/Identity/Pages/Account/Login" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%SystemRoot%\system32\inetsrv\asp.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>

